<div class="contianer" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="center center">
    <span>הצג</span>
    <select class="form-control" [(ngModel)]="selectedOption" (ngModelChange)="onSelectedOptionChange($event)" name="rowsPerPage">
      <option *ngFor="let option of options" [value]="option">
        {{ option }}
      </option>
    </select>
    <span>פריטים</span>
  </div>

  <div>
    {{ currentPage * selectedOption }}-{{
      (currentPage * selectedOption ) + (+selectedOption)
    }}
    מתוך {{ totalItemsCount }}
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <span (click)="changePageNumber(1)" *ngIf="currentPage > 4" [ngClass]="{'active-page': currentPage === 1}" class="page-number">1</span>
    <span  *ngIf="currentPage > 4">...</span>
    <span (click)="changePageNumber(currentPage-3)" *ngIf="currentPage-3 > 0 && totalPageCount > 5" [ngClass]="{'active-page': currentPage === currentPage-3}" class="page-number">{{currentPage-3}}</span>
    <span (click)="changePageNumber(currentPage-2)" *ngIf="currentPage-2 > 0 && totalPageCount > 4" [ngClass]="{'active-page': currentPage === currentPage-2}" class="page-number">{{currentPage-2}}</span>
    <span (click)="changePageNumber(currentPage-1)" *ngIf="currentPage-1 > 0 && totalPageCount > 3" [ngClass]="{'active-page': currentPage === currentPage-1}" class="page-number">{{currentPage-1}}</span>
    <span [ngClass]="{'active-page': true}" class="page-number">{{currentPage}}</span>
    <span (click)="changePageNumber(currentPage+1)" *ngIf="currentPage < totalPageCount - 1" [ngClass]="{'active-page': currentPage === currentPage+1}" class="page-number">{{currentPage+1}}</span>
    <span (click)="changePageNumber(currentPage+2)" *ngIf="currentPage < totalPageCount - 2" [ngClass]="{'active-page': currentPage === currentPage+2}" class="page-number">{{currentPage+2}}</span>
    <span (click)="changePageNumber(currentPage+3)" *ngIf="currentPage < totalPageCount - 3" [ngClass]="{'active-page': currentPage === currentPage+3}" class="page-number">{{currentPage+3}}</span>
    
    <span *ngIf="currentPage + 1 < totalPageCount">...</span>
    <span (click)="changePageNumber(totalPageCount)" *ngIf="currentPage < totalPageCount" [ngClass]="{'active-page': currentPage === totalPageCount}" class="page-number">{{totalPageCount}}</span>
</div>

  
</div>
