.container {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: 3px solid #25890f;

  &__table-container {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 40px);
    padding: 10px;
    overflow: hidden;
    border: 5px solid #0e0ee6;
  }

  &__table-container__table {
    box-sizing: border-box;
    height: inherit;
    width: 100%;

    tbody {
      height: 100%;
      max-height: 100%;
      overflow-y: scroll;
      border: 1px solid #a91222;
    }
  }

  &__pagination {
    width: 100%;
    box-sizing: border-box;
  }
}
