.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__table-container {
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    overflow-y: scroll;

  }

  &__pagination {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--white);
  }
}
