<div class="container" fxLayout="column">
  <app-generic-table-header>
    <ng-content></ng-content>
  </app-generic-table-header>
  <div class="container__table-container" fxFlex="grow">
    <app-table-container [data]="data" />
  </div>
  <ng-container *ngIf="pagination$ | async as pagination">
    <app-pagination
      class="container__pagination"
      [totalPageCount]="(pagination$ | async)?.totalPageCount!"
      [totalItemsCount]="(pagination$ | async)?.totalItemsCount!"
      [currentPage]="(pagination$ | async)?.currentPage!"
      [rowsPerPage]="(pagination$ | async)?.rowsPerPage!"
    />
  </ng-container>
</div>
