<div [appGridItem]="input.gridOptions" [appFlexItem]="input.flexOptions">
  <ng-container *ngIf="isTextInput(input)">
    <app-text-input [control]="control" [input]="input"></app-text-input>
  </ng-container>

  <ng-container *ngIf="isNumberInput(input)">
    <app-number-input [control]="control" [input]="input"></app-number-input>
  </ng-container>

  <ng-container *ngIf="isSelectInput(input)">
    <app-select-input [control]="control" [input]="input"></app-select-input>
  </ng-container>
</div>
